/* Mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .bookBtn {
    display: none;
  }
  .icons {
    flex-wrap: wrap;
  }
  .card {
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
  }
  .beer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .romms-partion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero-image {
    background-image: url(./assets/garden\ bldg.webp);
    background-size: cover;
    background-position: center;
  }
  .check-container {
    height: 80px;
    max-width: 490px;
  }
  .room-container {
    flex-direction: column;
    align-items: center;
  }
}
/* Small laptops */

@media (max-width: 1024px) {
  /* .room-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  .hero-image {
    background-image:
      linear-gradient(
        to right,
        rgba(249, 250, 246, 1) 0%,
        /* 1. Starts solid off-white */ rgba(249, 250, 246, 1) 5%,
        /* 2. Stays solid to cover the text area */ rgba(249, 250, 246, 0) 65%
          /* 3. Fades to completely transparent */
      ),
      url("./assets/garden\ bldg.webp");
    background-size: cover;
    background-position: center;
  }
  .nav-links {
    display: flex;
  }
  .bookBtn {
    display: none;
  }

  .nav-links {
    display: none;
  }
  .bookBtn {
    display: none;
  }
  .icons {
    flex-wrap: wrap;
  }
  .card {
    gap: 20px;
    /* flex-direction: column; */
  }
  .machine-image {
    margin: 0 auto;
    height: 400px;
    width: 500px;
  }
  .sauna-image {
    margin: 0 auto;
    height: 400px;
    width: 500px;
  }
  .hero-text h3 {
    text-align: center;
  }
  .beer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-box {
    width: 650px;
    height: 900px;
  }
  .map-partition {
    flex-direction: column;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .machine-image {
    height: 400px;
    width: 500px;
  }
  .room-container {
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
  }

  .romms-partion {
    flex-wrap: wrap;
    gap: 20px;
  }
  .map-box {
    width: 450px;
    height: 1100px;
  }
  .map-frame iframe {
    width: 400px;
    margin: 0 auto;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer-container {
    height: 1500px;
  }
}
